spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.0.105:3306/wechat_ordering?&useUnicode=true&characterEncoding=utf-8
  jpa:
    show-sql: true
  jackson:
    default-property-inclusion: non_null #不返回null的结果
  redis:
    host: 192.168.0.105
    port: 6379
    password:

server:
  context-path: /sell #项目URL前缀

wechat:
#  公众账号，授权
#  mpAppId: wxcb29648d6ad1f58f
#  mpAppSecret: 1b65a3ef0da65e61e13c5ddf0e3681ef

#  借用账号，支付
#  mpAppId: wxd898fcb01713c658
#  mpAppSecret:

#  开放平台(登录)
#  openAppId: wx6ad144e54af67d87
#  openAppSecret: 91a2ff6d38a2bbccfb7e9f9079108e2e

# 消息推送
  mpAppId: wxcb29648d6ad1f58f
  mpAppSecret: 1b65a3ef0da65e61e13c5ddf0e3681ef
  templateId:
    orderStatus: Yw7nxHJFnU2zr_UX4QIOxbdI26cutMFNxrDxAWcojmg



#  支付/商户号
#  mchId: 1483469312
#  mchKey: 098F6BCD4621D373CADE4E832627B4F6
#  keyPath: C:/Users/CAnthony/Desktop/coding-117/doc/h5.p12
#  notifyUrl: http://mrscsa.natapp1.cc/sell/pay/notify


projectUrl:
  wechatMpAuthorize: http://mrscsa.natapp1.cc
  wechatOpenAuthorize: http://mrscsa.natapp1.cc
  sell: http://mrscsa.natapp1.cc

